:root {
    --sidebar-color: rgba(230, 114, 99, 1);
    --menu-font-color: rgba(97, 29, 20, 1);
    --bar-color: rgba(224, 68, 47, 1);
    --text-color: rgba(0, 0, 0, 0.76);
    --navbar-color: rgba(87, 117, 144, 1);
    --profile-border-color: rgba(29, 129, 216, 0.6);
    --logout-hover: rgba(24, 41, 55);
    --history-color: rgba(87, 117, 144, 0.3);
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
}

.account-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#customer {
    flex: 1;
    text-align: center;
    padding: 20px;
    display: flex;
    align-items: center; /* Centralizar verticalmente ícone e texto */
}

#customer span {
    margin-left: 10px; /* Adicione margem à esquerda para separar o ícone do texto */
}

#customer i {
    font-size: 1em;
    color: #fff;
}

#customer {
    /* background-color: #3498db; */
}

.icon_sub {
    color: white;
}

.navbar.navbar-expand-lg {
    background-color: var(--navbar-color) !important;
}

/* search-bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 15px; */
    overflow: hidden;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); Adiciona uma sombra suave */
    background: none; /* Remove o background */
}

input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 25px 0 0 25px;
    width: 80vh;
}

button {
    background-color: var(--navbar-color);
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
}

/* Adiciona um estilo ao botão quando hover */
button:hover {
    background-color: #2980b9;
}

/* end search-bar */


/* History btn*/
.history {
    position: absolute;
    top: 0;
    right: 1em;
    margin-right: 1em;
}

.fa-clock-rotate-left, .fa-filter{
    color: var(--navbar-color);
}

.fa-clock-rotate-left, .fa-filter:hover {
    color: var(--history-color);
}

/* End History btn*/

/*Filter*/

.fa-filter{
    font-size: 1.3em;    
}

.filter-container {
    position: relative;
    display: inline-block; 
}

.filter-container i {
    cursor: pointer;
    position: absolute;
    margin-right: 12.6em;
    right: 0;
    
}

#filterOptions {
    position: absolute;
    top: 0; 
    right: 3em;
    bottom: 6em;
    z-index: 1;
    padding: 10px;
    display: none;
}

.table-container {
    position: relative;
}
/*End Filter*/



.p-3.mb-2.bg-body-tertiary.profile-card {
    width: 400px;
    margin: 120px auto 120px;
    background-color: #fff;
    border-color: var(--navbar-color);
    padding: 0 20px 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    text-align: justify;
  }
  .avatar-flip {
    border-radius: 100px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: -60px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 13px var(--profile-border-color);
    -webkit-box-shadow: 0 0 0 13px var(--profile-border-color);
    -moz-box-shadow: 0 0 0 13px var(--profile-border-color);
  }
  .avatar-flip img {
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
  }
  .avatar-flip img:first-child {
    z-index: 1;
  }
  .avatar-flip img:last-child {
    z-index: 0;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    opacity: 0;
  }
  .profile-card h2 {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 15px;
    color: #333;
  }
  .profile-card h4{
    font-size: 1.4em;
    color: var(--navbar-color);
    text-align: center;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-bottom: 25px;
  }
  .profile-card p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #666;
}


#logoutForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; 
}

#logoutForm button {
    /* Estilo base do botão */
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out; /* Adiciona transição de cor ao hover */

    /* Estilo padrão do botão */
    background-color: var(--navbar-color); /* Cor de fundo padrão */
    color: #ffffff; /* Cor do texto padrão */
}

#logoutForm button:hover {
    /* Estilo do botão ao passar o mouse (hover) */
    background-color:var(--logout-hover); /* Cor de fundo ao passar o mouse */
}


.card-account {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    height: 60%;
    width: 40%;
    max-height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
}

.option-container-acc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center; /* Centralize os elementos no eixo horizontal */
    align-items: center; /* Centralize os elementos no eixo vertical */
    text-align: center;
    height: 50%;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
}

.option-account,
.option-account-op2 {
    flex: 1;
     flex-direction: column;
    /* margin: 0 3vw; */
    margin: auto;
    /* height: 80%; */
    width: 40%;
    max-height: 90vh;
    max-width: 400px;
    color: tomato;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40%, 0, 40%, 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.option-account:hover,.option-account-op2:hover  {
    background-color: var(--navbar-color); 
    color: white;
}


.option-account {
    color: yellowgreen;
}   

.icon-acc {
    height: 10vh;
    width: 10vw;
    padding: 5%;
    max-height: 100px; /* Ou ajuste conforme necessário */
    max-width: 100px; /* Ou ajuste conforme necessário */
}


.icon-acc i {
/* padding: 20px; */
   font-size: 10vh;
}


.icon-acc a{
    display: block;
    font-size: 24px;
    /* padding-bottom: 20%;
    padding-top: 30%; */
    margin-bottom: 10px;
    height: 50px;
}

.back-button-account {
    /* margin-top: 30%;    
    margin-bottom: 20vh; */
    margin: auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.main-container-acc {
    background-color: var(--navbar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


.acc-type {
    max-width: 100%; /* Ou ajuste para um valor específico que funcione para você */
    overflow: hidden; /* Impede que o texto ultrapasse as bordas */
    white-space: nowrap; /* Impede que o texto quebre em várias linhas */
    text-overflow: ellipsis; /* Adiciona reticências (...) quando o texto ultrapassa o tamanho máximo */
}

.selec-acc {
    color: var(--navbar-color);
    font-size: 2vh; /* Ajuste o tamanho da fonte conforme necessário */
    /* margin: 10% 0; Ajuste as margens conforme necessário */
    display: flex; /* Para ocupar toda a largura do contêiner */
    flex-direction: column;
    align-items: center;
    justify-content: space-between; /* Distribui os elementos para as extremidades verticalmente */
}
