:root {
    --sidebar-color: rgba(230, 114, 99, 1);
    --menu-font-color: rgba(97, 29, 20, 1);
    --bar-color: rgba(224, 68, 47, 1);
    --text-color: rgba(0, 0, 0, 0.76);
    --navbar-color: rgba(87, 117, 144, 1);
}

.navbar{
    background-color: var(--navbar-color) !important;
    color: white;
}

.nav-link{
    color: white;
}

body {
/* 	color:var(--menu-font-color) !important; */
    margin: 0%;
    padding: 0%;
/*     font-family: 'Antonio', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playpen Sans', cursive;
    font-size: 1em;
    font-weight: bold;
    color: var(--text-color); */
}